<html>

<form method="post">
	recipeTitle:<input type="text" name="recipeTitle"><br>
	
	step1:<input type="text" name="step1"><br>
	picture1 URL:<input type="text" name="picture1"><br>
	video1 URL:<input type="text" name="video1"><br>

	step2:<input type="text" name="step2"><br>
	picture2 URL:<input type="text" name="picture2"><br>
	video2 URL:<input type="text" name="video2"><br>

	step3:<input type="text" name="step3"><br>
	picture3 URL:<input type="text" name="picture3"><br>
	video3 URL:<input type="text" name="video3"><br>

	step4:<input type="text" name="step4"><br>
	picture4 URL:<input type="text" name="picture4"><br>
	video4 URL:<input type="text" name="video4"><br>

	<button type="submit">Post</button>
</form>

</html>