
    div.block {
        background-color:white;
        color:black;
        margin:10px;
        padding:10px;
    }

    div.innerblock {
        background-color:#d3d3d3;
        color:black;
        margin:10px;
        padding:10px;
    }

    #image-preview {
		width: 400px;
		min-height: 200px;
		height: auto;
		position: center;
		border-width: 5px;
		border-color: #f0f0f0;
		border-style: solid;
		vertical-align: center;
		line-height: 0;

		background-color: #e0e0e0;
		color: #ecf0f1;
		input {
			line-height: 200px;
			font-size: 200px;
			position: center;
			opacity: 0;
			z-index: 10;
		}
		label {
			position: center;
			z-index: 5;
			opacity: 0.8;
			cursor: pointer;
			background-color: #bdc3c7;
			width: 200px;
			height: 50px;
			font-size: 20px;
			line-height: 50px;
			text-transform: uppercase;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
		}
	}
